NABAZTAG_GATEWAY_DRIVER=simulated
NABAZTAG_GATEWAY_HOST=127.0.0.1
NABAZTAG_GATEWAY_PORT=10543
NABAZTAG_GATEWAY_USERNAME=
NABAZTAG_GATEWAY_PASSWORD=
NABAZTAG_GATEWAY_TLS=false
NABAZTAG_GATEWAY_TIMEOUT=5
NABAZTAG_GATEWAY_READ_TIMEOUT=10
